.welcome-card {
	background-color: #464646;
	color: #fff;
}
.welcome-card ion-img {
  max-height: 38vh;
  overflow: hidden;
  margin: 0;
  width: 100%;
}
.welcome-card  ion-card-title
{
	color: #fff;
}

ion-content{
	margin: 0;
	padding: 0;
	width: 100%;
}